@tailwind base;
@tailwind components;
@tailwind utilities;

.commerce-categories__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.commerce-fillter__item {
  font-size: 13px;
  color: #8c8f9a;
}

.commerce-fillter__item--selected {
  color: #000;
  font-weight: 600;
}

.commerce-fillter__item:not(:last-child)::after {
  content: '|';
  width: 1px;
  color: #8c8f9a;
  margin: 0 8px;
}

.product-summary__item {
  flex: 1;
  position: relative;
  font-size: 14px;
  padding: 0 8px;
}

.product-summary__item:first-child {
  padding-left: 0;
}

.product-summary__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #ddd;
}

.input__checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #4b70f5;
}

.input__checkbox:checked {
  background-color: #4b70f5;
}

.input__checkbox:checked::before {
  content: '✓';
  display: block;
  color: white;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.product-quantity__input::-webkit-outer-spin-button,
.product-quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
.product-quantity__input {
  -moz-appearance: textfield;
  outline: none;
}

.product-quantity__button {
  width: 32px;
  height: 32px;
  background: #e8e9eb;
  font-weight: 900;
}

.product-tab__item--selected {
  font-weight: 700;
}

.product-review-item--not-first {
  border-top: 1px solid #ddd;
}

.product-review-progress {
  -webkit-appearance: none;
}

.product-review-progress::-webkit-progress-bar {
  height: 10px;
  background-color: #e8e9eb;
  border-radius: 16px;
}

.product-review-progress::-webkit-progress-value {
  background-color: #4b70f5;
  border-radius: 16px;
}

/* Firefox */
.product-review-progress::-moz-progress-bar {
  height: 5px;
  background-color: #4b70f5;
  border-radius: 16px;
}

/* IE와 Edge */
.product-review-progress::-ms-fill {
  height: 5px;
  background-color: #4b70f5;
  border-radius: 10px 0 0 10px;
}

#product-list-progress::-webkit-progress-bar {
  height: 5px;
}

/* Firefox */
#product-list-progress::-moz-progress-bar {
  height: 5px;
}

/* IE와 Edge */
#product-list-progress::-ms-fill {
  height: 5px;
}
.product-ask__text {
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
