@tailwind base;
@tailwind components;
@tailwind utilities;

.commerce-categories__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.product-summary__item {
  flex: 1;
  position: relative;
  font-size: 14px;
  padding: 0 8px;
}

.product-summary__item:first-child {
  padding-left: 0;
}

.product-summary__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #ddd;
}

.input__checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #4b70f5;
}

.input__checkbox:checked {
  background-color: #4b70f5;
}

.input__checkbox:checked::before {
  content: '✓';
  display: block;
  color: white;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.product-quantity__input::-webkit-outer-spin-button,
.product-quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
.product-quantity__input {
  -moz-appearance: textfield;
  outline: none;
}

.product-quantity__button {
  width: 32px;
  height: 32px;
  background: #e8e9eb;
  font-weight: 900;
}

.product-tab__item--selected {
  font-weight: 700;
}

.product-review-item--not-first {
  border-top: 1px solid #ddd;
}

.product-review-progress {
  -webkit-appearance: none;
}

.product-review-progress::-webkit-progress-bar {
  height: 10px;
  background-color: #e8e9eb;
  border-radius: 16px;
}

.product-review-progress::-webkit-progress-value {
  background-color: #4b70f5;
  border-radius: 16px;
}

/* Firefox */
.product-review-progress::-moz-progress-bar {
  height: 5px;
  background-color: #4b70f5;
  border-radius: 16px;
}

/* IE와 Edge */
.product-review-progress::-ms-fill {
  height: 5px;
  background-color: #4b70f5;
  border-radius: 10px 0 0 10px;
}

#product-list-progress::-webkit-progress-bar {
  height: 3px;
  background-color: #d1d2d7;
}

.product-list-progress::-webkit-progress-value {
  height: 3px;
  background-color: #4b70f5;
}

/* Firefox */
#product-list-progress::-moz-progress-bar {
  height: 3px;
  background-color: #4b70f5;
}

/* IE와 Edge */
#product-list-progress::-ms-fill {
  height: 3px;
  background-color: #4b70f5;
}

.product-list-progress__end::-webkit-progress-value {
  height: 3px;
  background-color: #000;
}

/* Firefox */
#product-list-progress__end::-moz-progress-bar {
  height: 3px;
  background-color: #000;
}

/* IE와 Edge */
#product-list-progress__end::-ms-fill {
  height: 3px;
  background-color: #000;
}

.product-ask-textarea::placeholder {
  font-size: 14px;
}

.product-refund-type {
  width: 60px;
  height: 32px;
  border: 1px solid #6f8df7;
  border-radius: 12px;
  color: #4b70f5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  font-size: 14px;
}

.product-refund-type__active {
  background-color: #4b70f5;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.product-order__button {
  width: 180px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  font-weight: 500;
}

.product-order__button__active {
  background-color: #dbe2fd;
  border: 1px solid #b7c6fb;
}

.product-order__button:hover {
  background-color: #dbe2fd;
  border: 1px solid #b7c6fb;
}
