@tailwind base;
@tailwind components;
@tailwind utilities;

.community__filter {
  padding: 6px 16px;
  color: #4b70f5;
  border: 1px solid #4b70f5;
  font-size: 14px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.community__filter--selected {
  color: #fff;
  background: #4b70f5;
}

.community-thumbnail--completed {
  filter: grayscale(100%);
}

.community__label {
  font-weight: 700;
  font-size: 20px;
}

.community__label-description {
  font-size: 12px;
  color: #8c8f9a;
}

.community__input-text {
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  padding: 8px 50px 8px 12px;
}

.community__input-price {
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  padding: 8px 12px;
}

.community__input-date {
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  padding: 8px 12px;
  font-size: 14px;
}

.community__input-text::placeholder,
.community__input-price::placeholder {
  font-size: 14px;
}

.community__button-number {
  width: 25px;
  height: 25px;
  background: #4b70f5;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
}

.community__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.community__comment__textarea {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  resize: none;
  outline: none;
  font-size: 14px;
}

.community__comment__textarea::placeholder {
  font-size: 14px;
}

.ql-toolbar.ql-snow {
  position: sticky !important;
  top: 0 !important;
  background: white !important;
  z-index: 10 !important;
}

.ql-editor {
  height: 450px !important;
}
