@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: pretendard;
  box-sizing: border-box;
}

.user-login-sns__title::before,
.user-login-sns__title::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #babcc2;
}

.select-no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input__checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #4b70f5;
}

.input__checkbox:checked {
  background-color: #4b70f5;
}

.input__checkbox:checked::before {
  content: '✓';
  display: block;
  color: white;
  text-align: center;
}

.fillter__item {
  font-size: 13px;
  color: #8c8f9a;
  cursor: pointer;
}

.fillter__item--selected {
  color: #000;
  font-weight: 600;
}

.fillter__item:not(:last-child)::after {
  content: '|';
  width: 1px;
  color: #8c8f9a;
  margin: 0 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input {
  -moz-appearance: textfield;
  outline: none;
}

/* input 자동완성 background 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.main__recommendCarousel {
  width: 100%;
  position: relative;
  padding: 0;
  height: 300px;
  margin-left: calc(-50% + 50%);
  z-index: 1;
}

.mypage-orders__order-number {
  color: #8c8f9a;
}

.mypage-orders__order-number::before {
  content: '|';
  width: 1px;
  height: 100%;
  margin: 0 8px;
}

.ql-toolbar.ql-snow {
  position: sticky !important;
  top: 0 !important;
  background: white !important;
  z-index: 10 !important;
}

.ql-editor {
  height: 450px !important;
}

.header-nav-item:not(:last-child)::after {
  content: '|';
  color: #d1d2d7;
  margin-left: 6px;
  font-size: 12px;
}

.product-summary__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #ddd;
}

/* Chrome, Safari, Edge, Opera */
.product-quantity__input::-webkit-outer-spin-button,
.product-quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
.product-quantity__input {
  -moz-appearance: textfield;
  outline: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #4b70f5 95%, #0000) 50% 1px/12px 12px
      no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  to {
    transform: rotate(1turn);
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Black.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-ExtraBold.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Bold.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-SemiBold.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Medium.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Regular.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Light.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-ExtraLight.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Thin.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Thin.woff) format('woff');
}
textarea::-webkit-scrollbar {
  width: 7px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #babcc2;
  border-radius: 5px;
}
/* 스크롤바 스타일 */
.scrollable {
  overflow-y: auto; /* 수직 스크롤 */
}

/* Webkit 기반 브라우저에서 스크롤바 스타일링 */
.scrollable::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 둥글기 */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 스크롤바 hover 색상 */
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 배경 색상 */
}

.product-review-progress {
  -webkit-appearance: none;
}

.product-review-progress::-webkit-progress-bar {
  height: 10px;
  background-color: #e8e9eb;
  border-radius: 16px;
}

.product-review-progress::-webkit-progress-value {
  background-color: #4b70f5;
  border-radius: 16px;
}

/* Firefox */
.product-review-progress::-moz-progress-bar {
  height: 5px;
  background-color: #4b70f5;
  border-radius: 16px;
}

/* IE와 Edge */
.product-review-progress::-ms-fill {
  height: 5px;
  background-color: #4b70f5;
  border-radius: 10px 0 0 10px;
}

#product-list-progress::-webkit-progress-bar {
  height: 3px;
  background-color: #d1d2d7;
}

.product-list-progress::-webkit-progress-value {
  height: 3px;
  background-color: #4b70f5;
}

/* Firefox */
#product-list-progress::-moz-progress-bar {
  height: 3px;
  background-color: #4b70f5;
}

/* IE와 Edge */
#product-list-progress::-ms-fill {
  height: 3px;
  background-color: #4b70f5;
}

.product-list-progress__end::-webkit-progress-value {
  height: 3px;
  background-color: #000;
}

/* Firefox */
#product-list-progress__end::-moz-progress-bar {
  height: 3px;
  background-color: #000;
}

/* IE와 Edge */
#product-list-progress__end::-ms-fill {
  height: 3px;
  background-color: #000;
}

.system-message-date {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

.system-message-date::before,
.system-message-date::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #babcc2;
}
