@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: pretendard;
  box-sizing: border-box;
}

.layout {
  width: 1020px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.layout__main {
  flex-grow: 1;
}

.title--multi-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title--multi-line-3 {
  -webkit-line-clamp: 3;
}

.title--single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fillter__item {
  font-size: 13px;
  color: #8c8f9a;
  cursor: pointer;
}

.fillter__item--selected {
  color: #000;
  font-weight: 600;
}

.fillter__item:not(:last-child)::after {
  content: '|';
  width: 1px;
  color: #8c8f9a;
  margin: 0 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input {
  -moz-appearance: textfield;
  outline: none;
}

/* input 자동완성 background 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #4b70f5 95%, #0000) 50% 1px/12px 12px
      no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  to {
    transform: rotate(1turn);
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Black.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-ExtraBold.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Bold.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-SemiBold.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Medium.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Regular.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Light.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-ExtraLight.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    url(../../public/fonts/Pretendard-Thin.woff2) format('woff2'),
    url(../../public/fonts/Pretendard-Thin.woff) format('woff');
}
