@tailwind base;
@tailwind components;
@tailwind utilities;

.main__title {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

.intro__image {
  background-image: url('../../public/image/intro.jpg');
  background-size: contain;
}

.main__recommendCarousel {
  width: 100%;
  position: relative;
  padding: 0;
  height: 300px;
  margin-left: calc(-50% + 50%);
  z-index: 1;
}
.main__arrow-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.prev {
  left: -100px; /* 왼쪽 화살표 위치 */
}

.next {
  right: -100px; /* 오른쪽 화살표 위치 */
}
