@tailwind base;
@tailwind components;
@tailwind utilities;

.mypage-sidebar-navbar__item {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.mypage-sidebar-navbar__item:hover {
  background: #e8e9eb;
  border-radius: 8px;
}

.mypage-sidebar-navbar__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mypage-sidebar-info__item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-size: 14px;
  background: rgba(232, 233, 235, 0.3);
}

.mypage-sidebar-info__item {
  border-bottom: 1px solid #ddd;
}

.mypage-sidebar-info__item:last-child {
  border-bottom: none;
}

.mypage-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypage-profile__label {
  width: 130px;
  font-weight: 600;
  font-size: 24px;
}

.mypage-profile__button {
  padding: 8px 24px;
  border: 1px solid #d1d2d7;
  border-radius: 8px;
  cursor: pointer;
}

.mypage-profile__value {
  font-size: 18px;
}

.mypage__filter {
  padding: 6px 12px;
  color: #4b70f5;
  border: 1px solid #4b70f5;
  font-size: 14px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.mypage__filter--selected {
  color: #fff;
  background: #4b70f5;
}

.mypage-reviews__review {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mypage-orders__order-number {
  color: #8c8f9a;
}

.mypage-orders__order-number::before {
  content: '|';
  width: 1px;
  height: 100%;
  margin: 0 8px;
}

.mypage-order-details__table-header {
  background: #dbe2fd;
  font-weight: 600;
  padding: 16px;
  width: 140px;
}

.mypage-order-details__table-data {
  width: 360px;
  padding: 16px;
}
