@tailwind base;
@tailwind components;
@tailwind utilities;

.mypage-reviews__review {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.address__input {
  border: 1px solid #d1d2d7;
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
  outline: none;
}
